{% if include.items[0] %}
---
<h2> Dive a level deeper: </h2>
<ul class="post-list">
    {% for nav_item in include.items %}
    {% for doc in site.docs %}
    {% assign doc_id = doc.id | remove_first: site.docs_prefix %}
    {% if doc_id == nav_item.id %}
    <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ doc.date | date: date_format }}</span>

        <h1> <a class="post-link" href="{{ doc.url | relative_url }}">
                {{ doc.title | escape }}</a>
            {%if doc.github %}
            <a href="{{ site.github }}/{{ doc_id }}" class="post-title">
                <i class="fa fa-github"></i>
            </a>
            {% endif %}
        </h1>
        {% if doc.noimage %}
        {% else %}
        <a class="post-link" href="{{ doc.url | relative_url }}">
            <img alt="{{ site.baseurl }}/assets{{doc.url}}/images/header.png" src="{{ site.baseurl }}/assets{{doc.url}}/images/header.png" class="img-responsive post-title" />
        </a>
        {% endif %}
        {% if doc.summary %}
        <div class="summary">
            {{ doc.summary }}
        </div>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}