{% assign post=include.post %}
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<span class="post-meta">{{ post.date | date: date_format }}</span>

<h1> <span><a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}</a>
        {%if post.github %}
        <a href="{{ site.github }}/{{ post.github }}">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}</span>
</h1>
{% if post.noimage %}
{% else %}
<img alt="{{ site.baseurl }}/assets/posts{{post.id}}/images/header.png" src="{{ site.baseurl }}/assets/posts{{post.id}}/images/header.png" class="img-responsive" />
{% endif %}
{% if post.summary %}
<div class="summary">
    {{ post.summary }}
</div>
{% endif %}