{% assign page_id = page.id | remove_first: site.docs_prefix %}

<ul>
    {% for item in include.items %}
    {% if item.id == page_id %}
    <li class="nav-active"> / <a href="{{ site.baseurl }}{{ page.url }}">{{ page_id }}</a></li>

    {% else %}
    <li> / <a href="{{ site.baseurl }}{{ site.docs_prefix }}{{ item.id }}">{{ item.id }}</a>

        {% if item.items[0] %}
        {% include sub-nav-paths.html items=item.items %}
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}
</ul>