{% assign item = include.item %}
{% assign page_id = page.url | remove: "/" %}

{% if item.url == page_id %}
<li class="nav-active"> / <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.url }}</a>

    {% if item.items[0] %}
    <ul class="nav-child-list">
        {% for item in item.items %}
        <li><a class="tag" href="{{ site.baseurl }}/{{ item.url }}">{{ item.url }}</a>
        <li>
            {% endfor %}
    </ul>
    {% endif %}
</li>
{% else %}
<li class=""> / <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.url }}</a>

    {% if item.items[0] %}
    {% include subnavs.html items=item.items %}
    {% endif %}

</li>
{% endif %}